body {
    background-color: rgb(190, 208, 88);
    font-family:'Times New Roman', Times, serif;
}

#bar {
    background-color: rgb(16, 150, 194);
    text-align: center;
    width: 100%;
    padding: 25px;
    font-family:cursive;
    clear:both;
}

#main-nav {
    background-color: rgb(21, 175, 67);
}

#main-nav ul li{
    list-style-type: none;
    display:inline-block;
    padding:10px;
    text-align: center;
}

#main-nav li:hover{
    background-color: rgba(240, 229, 229, 0.956);
    color:white;
}

.content-area {
    width:70%;
    float:left;
    margin:0;
}

.content-box {
    background-color: rgb(252, 13, 220);
    color:black;
    padding:10px;
    border-radius: 25px;
    border: 2px solid black;
}

#rules {
    width:25%;
    float:right;
    background-color:rgb(126, 42, 165);
    margin-right:10px;
    padding:10px;
    border-radius: 25px;
    border: 2px solid black;
}

#rules:hover {
    background-color: rgb(255, 60, 200);
    color:white;
}

#name {
    width:80px;
}

#name:focus {
    width:150px;
    margin-bottom:5px;
    background-color: crimson;
    color:white;
}